<h3>Nerea Navarro</h3>
<img src="https://pbs.twimg.com/profile_images/1775403892/image.jpg" width="70" height="70" />
<p>Front end developer with a degree in Journalism and Media Studies.</p>
<p>Take a look! <a href="http://lanocheamericana.net/" target="_blank">I write here!</a></p>
<p>Thanks and have fun!</a></p>