<% if (!session.user) { %>
	<p>Tienes que logarte para ver algo... <a href="/login">Login</a></p>
<% } else { %>
	<p>Ves esto porque estás logado.</p>




<form method="get" action="/quizes">
	<p>Búsqueda de preguntas</p>
	<input type="text" name="search" placeholder="Búsqueda" value="" />
	<input type="submit" value="Buscar" />
</form>

<table cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>Pregunta</th>
			<th>Índice temático</th>
		</tr>
	</thead>
	<tbody>
		<% var i; for (i = 0; i < quizes.length; i++) { %>
			<tr>
				<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
				<td><%= quizes[i].tema %></td>
			</tr>
		<% } %>
	</tbody>
</table>


<% } %>