*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: #fff; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: #000; }

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center; }
footer               { background: #eee; text-align: center; }
nav span             { margin: 0px 10px 0px 0px; }

#errorMsgs           { color: #f61; font-size: smaller; }
table                { width: 100%; border-radius: 10px; background: #fff;  margin: 15px auto; }
tr:nth-child(2n) 	 { background: #ececec; }
.right 				 { float: right; }
.barChart, .pieChart { margin-top: 10px; }